@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
  /* background: #f2f2f2; */
  color: #fff;
  font-family: "Nunito";
  background-color: #000 !important;
}
a {
  color: #fff;
  text-decoration: none;
}
.content {
  margin: 0 auto;
}

footer {
  display: block;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 0.5px solid #eaeaea;
}
.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}

.bg-dark{
  background-color: #000 !important;
}

.navbar{
  height: 5rem;
}

.navbar-brand{
  font-size: 2rem;
}

.nav-item{
  margin: 0 2rem;
  font-size: 1.4rem;
}

.nav-link { color: #fff; }

a :hover { color: #eaeaea;}

.intro-section{
  min-height: 500px;
}

.interest-section{
  min-height: 500px;
}

.project-section{
  min-height: 550px;
}

.service-section{
  min-height: 550px;
}

.section-title{
  border-bottom: 1px solid #eaeaea;
  padding: 2rem 0 1rem 0 !important;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

/* Introsection css */
.intro-text{
  font-size: 2.5rem;
  padding: 20px;
}

i {
  color: #fff;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.social-icons{
  text-align: right;
}

